body {
	color: brown;
	font-family: arial;
	background-image: url("http://images.all-free-download.com/images/graphiclarge/animal_footprints_cute_pattern_vector_586732.jpg");
}

.title{ 
	color: brown;
}
.bodyContainer{
	background-color: white;
	padding: 20px;
	margin: 0 20px 0 150px;
}
.headerContainer{
	background-color: white;
	padding: 20px;
	margin: 0 20px 20px 20px;
}
.photos{
	display: inline-block;
	float: left;
	height: 200px;
	width: 200px;
}
.breedContainer{
	display: inline-block;
	width: 100%;
}
.breedInfoContainer{
	display: inline-block;
	width: 100%;
}
.breedInfoList{
	display: inline-block;
}
